#nav-bar {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: hsl(0deg 0% 19.61%);
}

#nav-bar #container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 50px;
  background-color: hsl(0deg 0% 19.61%);
}

#nav-bar p {
  max-width: 100px;
  font-size: 20px;
  font-weight: 500;
  color: hsl(0deg 0% 85.49%);
  background-color: hsl(0deg 0% 19.61%);
}

#nav-bar a {
  background-color: hsl(0deg 0% 19.61%);
}

/* Navigation buttons container */
#nav-bar-btns {
  display: flex;
  gap: 20px;
  background-color: hsl(0deg 0% 19.61%);
}

#nav-bar-btns button {
  background-color: #ffffff;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}

#nav-bar-btns button:nth-child(5) {
  background-color: hsl(128.66deg 85.84% 44.31%);
  padding: 10px 25px;
  color: #ffffff;
}

/* Hamburger icon (hidden by default) */
#hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: white;
  background: transparent;
}

#hamburger span {
  background: transparent;
  font-size: 28px;
  padding: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
  #hamburger {
    display: block;
  }

  #nav-bar-btns {
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    background-color: #2f2f2f;
    padding: 20px;
    border-radius: 10px;
    display: none;
  }

  #nav-bar-btns.open {
    display: flex;
  }

  #nav-bar-btns button {
    width: 150px;
    text-align: right;
  }
}
